.divider {
    border-top: 2px solid;
    border-image: radial-gradient(#253551, rgb(255, 255, 255)) 1;
    width: 90%;
    margin: 10em auto;
    padding-top: 50px;
}

.divider h2 {
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: .4em;
}

.contractors {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}

.contractors img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: -130px -20px;
    margin-top: -20px;
    display: block;
}

.image-section {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-right: -50px;
    margin-left: 20px;
}

.image-section-left{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: -50px;
    margin-right: 20px;

}

.content-section {
    width: 70%;
}

.contractor-card {
    display: flex;
    text-align: right;
    line-height: 3em;
    width: 500px;
    height: max-content;
    border-radius: 6px;
    box-shadow: 0 0 30px 15px rgba(12, 16, 21, 0.077);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contractor-card-left {
    display: flex;
    line-height: 3em;
    width: 500px;
    height: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 30px 15px rgba(12, 16, 21, 0.077);
    padding: 20px;
}

