h1  {
    font-size: 3rem;
    font-family: stencil-std, sans-serif;
    font-weight: 900;
    letter-spacing: .3em;
    line-height: 1.6em;
  }
  
  .hero{
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 20px 20px -15px rgb(158, 158, 158);

  }
  
  .video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #061021bd;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bolder;
  }
  
  .hero-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  
  .heading {
    width: 40em;
  }
  
  .quote {
    font-family: 'Roboto';
    font-weight: 900;
    color: #f8b612;
    font-size: x-large;
    animation: fly-right 1.8s ease-in-out;
  }
  
  #hero-logo{
    width: 200px;
  }