.team-hero{
    display: flex;
    height: 150px;
    background-color: #f8b612;
    color: #263c5a;
    align-items: flex-end;
    padding: 100px;
    justify-content: center;
}

.team-hero h1 {
    font-family: sans-serif;
    text-transform: uppercase;
}

.team-container{
    margin: 5em auto;
    width: 90%;
}

.team-container h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.team {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10em;
}

.team-card:nth-child(even){
    border: 2px solid #263c5a;
}

.team-card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0px 10px 25px -15px rgb(158, 158, 158);
    margin-bottom: 12em;
    position: relative;
    border: 2px solid #f8b612;

}

.circle {
    border: 2px solid #f8b612;
    margin-top: -100px;
    margin-left: -180px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 6px;
}

.team-card:nth-child(even) .circle{
    border: 2px solid #263c5a;
}

.circle img{
    width: 100%;
    border-radius: 50%;
}

.team-card .team-logo{
    margin-top: -60px;
    right: 20px;
    width: 40px;
    position: absolute;
}

.join-us button {
    margin-bottom: 4em;
    box-shadow: 0px 20px 20px -15px rgb(158, 158, 158);
}

.join-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 9em;
    border-bottom: 2px solid;
    border-image: radial-gradient(#253551, rgb(255, 255, 255)) 1;
}